/*Resources used: Bootstrap theme: Agency
	https://blackrockdigital.github.io/startbootstrap-agency/
	https://github.com/BlackrockDigital/startbootstrap-agency/blob/master/css/agency.css
*/
body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.navbar-custom .navbar-brand {
	font-size: 2em;
	text-transform: uppercase;
	padding-right: 30px;
}

.navbar-custom {
  background-color: #222222;
  border-color: transparent;
}
.navbar-custom .navbar-brand {
  color: #fed136;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus,
.navbar-custom .navbar-brand:active,
.navbar-custom .navbar-brand.active {
  color: #fec503;
}
.navbar-custom .navbar-collapse {
  border-color: rgba(255, 255, 255, 0.02);
}
.navbar-custom .navbar-toggle {
  background-color: #fed136;
  border-color: #fed136;
  text-transform: uppercase;
  color: white;
  font-size: 12px;
}

.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: #fed136;
}
.navbar-custom .nav li a {
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
  color: white;
}

.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus {
  color: #fed136;
  outline: none;
}
.navbar-custom .navbar-nav > .active > a {
  border-radius: 0;
  color: white;
  background-color: #fed136;
}
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
  color: white;
  background-color: #fec503;
}

.dropdown-menu {
  background-color: #222222;
}

/**********************************/

.btn-custom {
  background-color: #222222;
  color: white;
  outline: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
}

.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active {
  background-color: #fed136;
}

.btn-custom2 {
  background-color: #f2c503;
  color: black;
  outline: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
}

.btn-custom2:hover,
.btn-custom2:focus,
.btn-custom2:active {
  background-color: #222222;
  color: #f2c503;
}

.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
  outline: none;
}

/**********************************/
.rank {
	margin-top: 10px;
	display: block;
	border-radius: 100%;
	width: 30px;
	height: 30px;
	font-size: 18px;
	line-height: 30px;
	text-align: center;
	background-color: black;
	font-weight: bold;
	color: #fec503;
}

/**********************************/

h2.section-heading{
	display: inline-block;
	font-size: 40px;
	text-transform: uppercase;
}

h3.section-subheading{
	display: inline-block;
	position: relative;
	top: -5px;
	left: 10px;
	font-size: 25px;
	font-weight: normal;
	font-style: italic;
}

/**********************************/

/*img {
	height: 100px;
}*/

.first {
	margin-top: 50px;
}

.song {
	text-transform: uppercase;
	font-weight: bolder;
}

.artist {
	margin-bottom: 5px;	
}

.bio {

}